<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>入力画面</h1>

      <input type="text" v-model="nyuryokugaku" />
      <div>{{ nyuryokugaku }}円</div>
      <div></div>
      <button v-on:click="nyukin">入金</button>
      <button v-on:click="syukkin" v-bind:disabled="zandaka <= 0">出金</button>

      <h1>口座残高</h1>
      <div>残高:{{ zandaka }}円</div>

      <h1>取引記録</h1>
      <div v-for="tori in torihiki">
        <div>{{ tori.money }}</div>
        <div>{{ tori.date }}</div>
        <div>{{ tori.type }}</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
